name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
    paths-ignore:
      - '**.md'

jobs:
  binary:
    name: Build Binary
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Golang Environment
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache: true

      - name: Determine GOPATH
        id: go
        run: echo "go_path=$(go env GOPATH)" >> $GITHUB_OUTPUT

      - name: Build binary
        uses: goreleaser/goreleaser-action@v4
        with:
          version: latest
          args: build --snapshot --rm-dist --single-target
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOPATH: ${{ steps.go.outputs.go_path }}

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Golang Environment
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache: true

      - name: Run Tests
        run: make test

  build:
    name: Build Packages
    runs-on: ubuntu-22.04
    needs: [binary, unit-tests]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Golang Environment
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
          cache: true

      - name: Determine GOPATH
        id: go
        run: echo "go_path=$(go env GOPATH)" >> $GITHUB_OUTPUT

      - name: Draft Release Notes
        uses: lucacome/draft-release@v0.2.0
        with:
          minor-label: 'enhancement'
          major-label: 'change'
          publish: ${{ startsWith(github.ref, 'refs/tags/') }}
          notes-footer: |
            ## Resources

            - Documentation -- https://github.com/nginxinc/nginx-asg-sync/blob/{{version}}/README.md
        if: github.event_name != 'pull_request'

      - name: Download Syft
        uses: anchore/sbom-action/download-syft@v0.14.2

      - name: Build binaries
        uses: goreleaser/goreleaser-action@v4
        with:
          version: latest
          args: release ${{ startsWith(github.ref, 'refs/tags/') && '' || '--snapshot' }} --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOPATH: ${{ steps.go.outputs.go_path }}
